{% load static %}

<script src="{% static 'js/jquery-1.11.3.js' %}"></script>
<script src="{% static 'js/uikit.min.js' %}"></script>
<script src="{% static 'js/components/accordion.min.js' %}"></script>

<script src="{% static 'js/components/sticky.min.js' %}"></script>
<script src="{% static 'js/components/slideshow.js' %}"></script>
<script src="{% static 'js/components/slideshow-fx.js' %}"></script>

<script src="{% static 'js/components/notify.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>