<footer>
	<div class="uk-container uk-container-center">
		<div class="uk-width-8-10 uk-container-center uk-text-center margin-top-custom uk-margin-large-bottom">
			<div class="footerMenu">
				<a href="#home" class="nav-span">HOME</a>
				<a href="#aboutus" class="nav-span">ABOUT US</a>
				<a href="#homeautomation" class="nav-span">HOME AUTOMATION</a>
				<a href="#consulting" class="nav-span">CONSULTING</a>                
				<a href="#services" class="nav-span">SERVICES</a>
				<a href="#contactmenu" class="nav-span">CONTACT US</a>
			</div>
			<div class="uk-width-1-1 uk-container-center uk-text-center uk-margin-small-top">
				<p class="copyright-text">Copyright {% now "Y" %}. Ai Labs</p>
			</div>
		</div>
	</div>
</footer>