{% load static %}

<link rel="stylesheet" href="{% static 'css/uikit.docs.min.css' %}" />
<link rel="stylesheet" href="{% static 'css/uikit.min.css' %}" />
<link rel="stylesheet" href="{% static 'css/style.css' %}" />
<link rel="stylesheet" src="{% static 'css/components/accordion.css' %}" />
<link rel="stylesheet" src="{% static 'css/components/sticky.min.css' %}" />
<link rel="stylesheet" src="{% static 'css/components/notify.min.css' %}" />
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />