{% load static %}

<header class="uk-sticky-placeholder" data-uk-sticky="{boundary:'#define-an-offset'}" style="margin: 0px;">
    <div class="uk-container uk-container-center">
		<div class="uk-grid">
		    <div class="uk-width-3-10"><a href="{% url 'home' %}"><img src="{% static 'images/ailabs.png' %}" alt="AI Labs" title="AI Labs" class="ailogo" /></a></div>
		    <div class="uk-width-7-10">
				<nav id="navLong" class="uk-navbar">
					<ul class="uk-navbar-nav ui-text-small">
						<li><a href="#home" class="active">HOME</a></li>
						<li><a href="#aboutus">ABOUT US</a></li>
						<li><a href="#homeautomation">HOME AUTOMATION</a></li> 
						<li><a href="#consulting">CONSULTING</a></li>                 
						<li><a href="#services">SERVICES</a></li>
						<li><a href="#contactmenu">CONTACT US</a></li> 
					</ul>
				</nav>
				<div id="navShort" class="uk-accordion" data-uk-accordion="{showfirst: false}">
				    <nav id="navShortHumb" class="uk-navbar ui-text-small">
				        <a href="#" class="uk-navbar-toggle uk-accordion-title"></a>
				    </nav>
				    
				    <div id="mobileMenu" class="uk-navbar uk-accordion-content">
				        <ul class="uk-nav">
				            <li><a href="#home">HOME</a></li>
							<li><a href="#aboutus">ABOUT US</a></li>
							<li><a href="#homeautomation">HOME AUTOMATION</a></li> 
							<li><a href="#consulting">CONSULTING</a></li>                 
							<li><a href="#services">SERVICES</a></li>
							<li><a href="#contactmenu">CONTACT US</a></li> 
				        </ul>
				    </div>  
				</div>

		    </div>
		</div>
    </div>
</header>