{% load static %}

<section class="dark-blue-section-01">
		<div class="uk-slidenav-position" data-uk-slideshow="{autoplay:true}">
			<ul class="uk-slideshow">
				<li class="sliderImagesMobile">
			        <img src="{% static 'images/DATA_CENTER_and_CLOUD_02.jpg' %}" class="slider1">
			        <div class="uk-overlay-panel uk-flex uk-flex-left uk-flex-bottom uk-text-left">
			       		<div class="margin-left-custome">
			       			<div class="uk-transparent">
	                            <h1 class="title-white">Data Center</h1> 
								<p class="slider-text">•	Software Defined Networking</p>
								<p class="slider-text">•	Software Defined Storage</p>
								<p class="slider-text">•	Programmability and Automation</p> 
								<p class="slider-text">•	Cloud Orchestration</p>
								<h1 class="title-white">Security</h1>
								<p class="slider-text">•	Firewall and VPN</p>
								<p class="slider-text">•	IPS and WAF</p>
								<p class="slider-text">•	Vulnerability and Penetration Testing</p>
							</div>
						</div>
			        </div>
			  	</li>
			    <li class="sliderImagesMobile">
					<img src="{% static 'images/BIG_DATA.jpg' %}" class="slider2">
					<div class="uk-overlay-panel uk-flex uk-flex-left uk-flex-bottom uk-text-left">
						<div class="margin-left-custome">
							<div class="uk-transparent">
	                            <h1 class="title-white">Web and Mobile Development</h1> 
								<p class="slider-text">•	Portal for Enterprise & Mobile App</p>
								<p class="slider-text">•	Customer Software Development</p>
								<p class="slider-text">•	E-Commerce and Online Payment</p>
								<p class="slider-text">•	Business Process Automation</p>
	                            <h1 class="title-white">ERP, CRM, Big Data</h1>
								<p class="slider-text">•	ERP and CRM Support, Admin & Monitoring</p>
								<p class="slider-text">•	Business Intelligence</p>
								<p class="slider-text">•	Real time Analytics</p>
							</div>
						</div>
					</div>
				</li>
				<li class="sliderImagesMobile">
					<img src="{% static 'images/HOMEAUTO.jpg' %}" class="slider3">
					<div class="uk-overlay-panel uk-flex uk-flex-left uk-flex-bottom uk-text-left">
						<div class="margin-left-custome">
							<div class="uk-transparent">
	                            <h1 class="title-white">Internet of Things</h1> 
								<p class="slider-text">•	Home Automation</p>
								<p class="slider-text">•	Security Access and Controls</p>
								<p class="slider-text">•	Smart Offices</p>
								<p class="slider-text">•	Inventory Management</p>
								<p class="slider-text">•	Next Gen Products and Appliances</p>
							</div>
						</div>
					</div>
				</li>
			</ul>
			<a href="" class="uk-slidenav uk-slidenav-contrast uk-slidenav-previous" data-uk-slideshow-item="previous"></a>
			<a href="" class="uk-slidenav uk-slidenav-contrast uk-slidenav-next" data-uk-slideshow-item="next"></a>
		</div>
	</section>