{% extends "base.html" %}
{% load static %}

{% block header_content %}
	{% include 'blogs/nav.html' %}
{% endblock %}

{% block content %}
<div id="blogs" class="container form-horizontal">
 	{% for item in items %}
		{% include 'blogs/blog.html' %}
	{% endfor %}
</div>
{% endblock %}

{% block footer_content %}
	{% include 'blogs/footer.html' %}
{% endblock %}

{% block inline_js %}
	<div id="lightbox" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
	    <div class="modal-dialog">
	        <div class="modal-content">
	            <div class="modal-body">
	                <img src="" alt="" />
	            </div>
	        </div>
	    </div>
	</div>
	<script type="text/javascript">
		$(document).ready(function() {
	    var $lightbox = $('#lightbox');
	    
	    $('[data-target="#lightbox"]').on('click', function(event) {
	        var $img = $(this).find('img'), 
	            src = $img.attr('src'),
	            alt = $img.attr('alt')
	            ;

	        $lightbox.find('img').attr('src', src);
	        $lightbox.find('img').attr('alt', alt);
	    });
	    
	    $lightbox.on('shown.bs.modal', function (e) {
	        var $img = $lightbox.find('img');
	            

	    });
		});
	</script>
{% endblock %}