{% extends "base.html" %}
{% load static %}

{% block header_content %}
  	<div style="margin-top: 15px;">
	</div>
{% endblock %}

{% block content %}
	<center><a href="https://www.meetup.com/Cloud-and-Data-Center-PH/events/242615343/"><img src="https://res.cloudinary.com/ai-labs-co/image/upload/v1506265562/meetup_events/10-06-2017.jpg" alt="" title="" /></a></center>
{% endblock %}

{% block footer_content %}
	<div class="uk-width-1-1 uk-container-center uk-text-center uk-margin-large-top">
		<p class="copyright-text"><strong>Copyright {% now "Y" %}. Ai Labs</strong></p>
	</div>
{% endblock %}